@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    @font-face {
        font-family: "lobster";
        src: url("./fonts/Lobster-Regular.ttf");
    }
    
    @font-face {
        font-family: "textmeone";
        src: url("./fonts/TextMeOne-Regular.ttf");
    }

    @font-face {
        font-family: "montserrat";
        src: url("./fonts/Montserrat-Medium.ttf");
    }

    @font-face {
        font-family: "josefinSans";
        src: url("./fonts/JosefinSans-Regular.ttf");
    }
}

body {
    @apply 
        dark:bg-gray-900
        bg-slate-100 
        bg-no-repeat 
        dark:text-slate-200 
        text-gray-700
        px-[2.1rem] pt-[1.5rem] 
        tracking-wider 
        h-screen 
        font-josefinSans
        overflow-x-hidden 
        text-sm
        md:text-base
        2xl:text-4xl;
}

h1, h2, h3, h4, h5, h6{
    @apply font-lobster text-gray-900 dark:text-slate-50;
}

p{
    @apply text-gray-700 dark:text-slate-200 font-light;
}

.btn-section{
    @apply 
        px-6 
        py-2  
        hover:duration-200 
        hover:transition-all 
        flex justify-center 
        items-center
        2xl:px-14
        2xl:py-10
        rounded-md;
}

.footer-link{
    @apply hover:text-principle-300 hover:transition-colors hover:duration-300;
}

.direction-btn{
    @apply absolute top-[50%] translate-y-[-50%] md:flex flex-col items-center justify-center hidden;
}

body::-webkit-scrollbar {
    @apply w-[14px] h-[14px]
  }

body::-webkit-scrollbar-track {
    @apply rounded-xl bg-zinc-300;
}

body::-webkit-scrollbar-thumb {
    @apply bg-principle-300 rounded-xl hover:bg-blue-700 transition-all;
}