@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    @font-face {
        font-family: "lobster";
        src: url("/fonts/Lobster-Regular.ttf");
    }
    
    @font-face {
        font-family: "textmeone";
        src: url("/fonts/TextMeOne-Regular.ttf");
    }
}

body {
    @apply bg-gradient-to-bl from-principle-300 to-purple-500 text-brand-300 px-[2.1rem] pt-[1.5rem] tracking-wider h-[100vh];
}

h1, h2, h3, h4, h5, h6{
    @apply font-lobster;
}